.comment {
    border-top:dotted 1px #ddd;
    font-size:0.7em;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}
#word-cloud{
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}

body, html{
  margin: 0;
  padding: 0;
}